APP_NAME="devshayan"
APP_URL="http://localhost:8000"
SESSION_NAME="DEVSHAYANSESSID"
DB_DRIVER="mysql"
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="devshayan"
DB_USER="root"
DB_PASS=""
ADMIN_EMAIL="admin@devshayan.local"
ADMIN_PASSWORD="admin1234"
EDITOR_EMAIL="editor@devshayan.local"
EDITOR_PASSWORD="editor1234"
